<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net40" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1652.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Server" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="170.1000.7" targetFramework="net48" />
</packages>