<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PharmaDBEntities" connectionString="metadata=res://*/Entity.PharmaEntity.csdl|res://*/Entity.PharmaEntity.ssdl|res://*/Entity.PharmaEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2212VIKASS0000L\MSSQLSERVER2019;initial catalog=PharmaDB;persist security info=True;user id=sa;password=Microsoft#1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
